
body {
  background-color:lightblue;
  text-align: justify;
}

p {
  color: purple;
}

img
{width:200px;float: left;
}
h1{font-size:30px; color:lightblue; text-align:center;
}
h2{font-size:20px; color:green; text-align:left;
}
h3{font-size:20px; color:green; text-align:left;
}
h4{font-size:20px; color:green; text-align:center;
}
