
body {
  background-color:linen;
  text-align: justify;font-family: "Times New Roman",Times,serif;
}

p {
  color:purple;
}
img
{width:190px;float: left;
}
h1{font-size:30px; color:lightblue; text-align:center;
}
h2{font-size:20px; color:green; text-align:left;
}
h3{font-size:20px; color:green; text-align:left;
}
h4{font-size:20px; color:green; text-align:center;
}
header{font-size:20px;text-align:left; padding: 10px 5px 5px 10px;}
footer{font-size:20px;text-align:left;}
